.rightScreen {
    width: 400px;
    height: 400px;
    overflow-y: scroll;
    background-color:white;
    margin: 25px;
    border: 2px solid black;
    border-radius: 25px;
    place-self: center;
    text-align: center;

    h2 {
        margin-top: 15px;
    }

    ul {
        width: 100px;
        margin-left: 125px;
    }
}